Flask
flask-cors
gunicorn
python-dotenv

python-pptx
pypdf

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langsmith
langchain-text-splitters

google-generativeai

pydantic
pydantic-settings
dataclasses-json

qdrant-client
SQLAlchemy